<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <script type="text/javascript" src="js/common.js" async></script>
    <script type="text/javascript" src="js/login.js" async></script>
    <script type="text/javascript" src="js/nav.js" async></script>
</head>
<body onload="init()">
    <div id="progress_loader_modal" class="loader-modal"><div class="modal-content"></div></div>

    <div class="container">
        <center><h1>CGD Marketing Salary Process</h1></center>
       <center><h2>Please Sign In</h2></center>
        <div class="row">
            <div class="col-30"></div>
            <div class="col-40">
                <div class="row">
                    <label><b>Username:</b></label>
                    <label for="username"></label><input type="text" id="username">
                </div>
                <div class="row">
                    <label><b>Password:</b></label>
                    <label for="password"></label><input type="password" id="password">
                </div>
                <div class="row"> <label></label></div>
                <div class="row">
                    <div class="col-30"></div>
                    <div class="col-40">
                        <button onclick="loginButtonAction()">Login</button>
                    </div>
                    <div class="col-30"></div>
                </div>
            </div>
            <div class="col-30"></div>
        </div>
        <div class="row"><label></label></div>
    </div>
</body>
